<!DOCTYPE html>
<html lang="en">
<head>
    <title>Items - Show</title>
</head>
<body>
    <h1>Item Detail</h1>
    <p>#: <%= @item.id %></p>
    <p>Name: <%= @item.name %></p>
    <p>Price: <%= @item.price %></p>
    <p>Categories: <%= @categories %></p>
</body>
</html>
